@mixin sum-by-property($block, $property, $length) {
  $sum-variable: 'calc(';
  @for $index from 1 through $length {
    $sum-variable: '#{$sum-variable} var(--#{$block}-#{$index}-#{$property})';

    @if $index + 1 <= $length {
      $sum-variable: '#{$sum-variable} +';
    }
  }
  $sum-variable: '#{$sum-variable})';

  --#{$block}-#{$property}-sum: #{unquote($sum-variable)};
}

//@ panel

@mixin apply-panel-variables($property, $index) {
  #{unquote('--panel-#{$index}-#{$property}')}: #{unquote(
      'calc((((100% - var(--separator-#{$property}-sum) - var(--panel-fixed-#{$property}-sum)) / var(--panel-relative-#{$property}-sum)) * var(--panel-#{$index}-relative-#{$property})) + var(--panel-#{$index}-fixed-#{$property}))'
    )};
}

@mixin initial-panel-size-variables($length) {
  @for $index from 1 through $length {
    --panel-#{$index}-fixed-width: 0px;
    --panel-#{$index}-fixed-height: 0px;
    --panel-#{$index}-relative-width: 1;
    --panel-#{$index}-relative-height: 1;
  }
}

@mixin initial-separator-size-variables($length) {
  @for $index from 1 through $length - 1 {
    --separator-#{$index}-width: var(--profile-separator-size);
    --separator-#{$index}-height: var(--profile-separator-size);
  }
}

@mixin create-panel-variables($property, $length) {
  //@ initial-variables
  @include initial-panel-size-variables($length);

  //@ separator-[height | width]
  @include initial-separator-size-variables($length);

  //@ sum-variables
  @include sum-by-property('panel', 'relative-height', $length);
  @include sum-by-property('panel', 'fixed-height', $length);
  @include sum-by-property('panel', 'relative-width', $length);
  @include sum-by-property('panel', 'fixed-width', $length);
  @include sum-by-property('separator', 'height', $length - 1);
  @include sum-by-property('separator', 'width', $length - 1);

  //@ panel-[height | width]
  @include compute-current-panel-size($property, $length);

  //@ panel-[top | left]
  @include compute-current-panel-position($property, $length);
}

@mixin compute-current-panel-size($property, $length) {
  @for $index from 1 through $length {
    @include apply-panel-variables($property, $index);
  }
}

@mixin compute-current-panel-position($property, $length) {
  $position-property: top;
  @if $property == width {
    $position-property: left;
  }

  --panel-1-#{$position-property}: calc(0);

  @if $length > 1 {
    @for $index from 2 through $length {
      $sum-position: 'calc(';
      @for $index2 from $index - 1 through 1 {
        $sum-position: '#{$sum-position} var(--panel-#{$index2}-#{$property}) + var(--separator-#{$index2}-#{$property})';

        @if $index2 - 1 >= 1 {
          $sum-position: '#{$sum-position} +';
        }
      }
      $sum-position: '#{$sum-position} )';

      #{unquote('--panel-#{$index}-#{$position-property}')}: #{unquote(
          $sum-position
        )};
    }
  }
}

//@ group

@mixin apply-group-variables($property, $index) {
  #{unquote('--group-#{$index}-#{$property}')}: #{unquote(
      'calc((((100% - var(--separator-#{$property}-sum) - var(--group-fixed-#{$property}-sum)) / var(--group-relative-#{$property}-sum)) * var(--group-#{$index}-relative-#{$property})) + var(--group-#{$index}-fixed-#{$property}))'
    )};
}

@mixin initial-group-size-variables($length) {
  @for $index from 1 through $length {
    --group-#{$index}-fixed-width: 0px;
    --group-#{$index}-fixed-height: 0px;
    --group-#{$index}-relative-width: 1;
    --group-#{$index}-relative-height: 1;
  }
}

@mixin create-group-variables($property, $length) {
  //@ initial-variables
  @include initial-group-size-variables($length);

  //@ separator-[height | width]
  @include initial-separator-size-variables($length);

  //@ sum-variables
  @include sum-by-property('group', 'relative-height', $length);
  @include sum-by-property('group', 'fixed-height', $length);
  @include sum-by-property('group', 'relative-width', $length);
  @include sum-by-property('group', 'fixed-width', $length);
  @include sum-by-property('separator', 'height', $length - 1);
  @include sum-by-property('separator', 'width', $length - 1);

  //@ panel-[height | width]
  @include compute-current-group-size($property, $length);

  //@ panel-[top | left]
  @include compute-current-group-position($property, $length);
}

@mixin compute-current-group-size($property, $length) {
  @for $index from 1 through $length {
    @include apply-group-variables($property, $index);
  }
}

@mixin compute-current-group-position($property, $length) {
  $position-property: top;
  @if $property == width {
    $position-property: left;
  }

  --group-1-#{$position-property}: calc(0);

  @if $length > 1 {
    @for $index from 2 through $length {
      $sum-position: 'calc(';
      @for $index2 from $index - 1 through 1 {
        $sum-position: '#{$sum-position} var(--group-#{$index2}-#{$property}) + var(--separator-#{$index2}-#{$property})';

        @if $index2 - 1 >= 1 {
          $sum-position: '#{$sum-position} +';
        }
      }
      $sum-position: '#{$sum-position} )';

      #{unquote('--group-#{$index}-#{$position-property}')}: #{unquote(
          $sum-position
        )};
    }
  }
}
