@import '~/styles/utils/_door-factory.scss';

.variables {
  @include create-panel-variables(3);
  @include apply-panel-variables('height', 1);
  @include apply-panel-variables('height', 2);
  @include apply-panel-variables('height', 3);
  --panel-1-top: calc(0);
  --panel-2-top: calc(var(--panel-1-height) + var(--separator-1-height));
  --panel-3-top: calc(
    var(--panel-1-height) + var(--separator-1-height) + var(--panel-2-height) +
      var(--separator-2-height)
  );
  --separator-1-top: calc(var(--panel-1-height));
  --separator-2-top: calc(
    var(--panel-1-height) + var(--separator-1-height) + var(--panel-2-height)
  );
}
