@import '~/styles/utils/_door-factory.scss';

.variables {
  --door-width: 500px;
  --door-height: 800px;
  @include create-panel-variables('width', 2);
  --separator-1-left: calc(var(--panel-1-width));
  --separator-1-height: calc(
    var(--door-height) - (var(--profile-side-size) * 2)
  );
}
