@import '~/styles/utils/_door-factory.scss';

.variables {
  --door-width: 500px;
  --door-height: 800px;
  @include create-panel-variables('height', 2);
  --separator-1-top: calc(var(--panel-1-height));
}
