.door_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  place-items: center;
  overflow: hidden;
}

.door {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--door-width);
  height: var(--door-height);
  transform-origin: center center;
  transform: scale(var(--door-scale));
  // transform: translate(-50%, -50%);
  translate: -50% -50%;
}

.door {
  &__top,
  &__left,
  &__right,
  &__bottom {
    position: absolute;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      display: block;
      background-repeat: round;
      background-size: revert;
      background-image: url('/H_Q_8569.png');
    }
  }

  &__left,
  &__right {
    &::before {
      width: var(--door-height);
      height: var(--profile-width);
      transform-origin: 0 0;
    }
  }

  &__top,
  &__bottom {
    &::before {
      width: 100%;
      height: 100%;
    }
  }

  &__top {
    & {
      top: 0;
      height: var(--profile-width);
      clip-path: polygon(
        0 0,
        100% 0,
        calc(var(--door-width) - var(--profile-width)) 100%,
        var(--profile-width) 100%
      );
    }
  }

  &__left {
    & {
      left: 0;
      width: var(--profile-width);
      clip-path: polygon(
        0 0,
        100% var(--profile-width),
        100% calc(var(--door-height) - var(--profile-width)),
        0 100%
      );
    }

    &::before {
      transform: rotateZ(-90deg);
      translate: 0 var(--door-height);
    }
  }

  &__right {
    & {
      right: 0;
      width: var(--profile-width);
      clip-path: polygon(
        100% 0,
        100% 100%,
        0 calc(var(--door-height) - var(--profile-width)),
        0 var(--profile-width)
      );
    }

    &::before {
      transform: rotateZ(90deg);
      translate: var(--profile-width) 0;
    }
  }

  &__bottom {
    & {
      bottom: 0;
      height: var(--profile-width);
      clip-path: polygon(
        0 100%,
        var(--profile-width) 0,
        calc(var(--door-width) - var(--profile-width)) 0,
        100% 100%
      );
    }

    &::before {
      transform: rotateZ(180deg);
    }
  }

  &__middle {
    position: absolute;
    top: var(--profile-width);
    left: var(--profile-width);
    width: calc(100% - (var(--profile-width) * 2));
    height: calc(100% - (var(--profile-width) * 2));
    background-image: url('/H_Q_8290.png');
    background-size: 100% 100%;
  }
}
