.frame {
  position: relative;
}

//@outside
.frame-outside {
  & {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: var(--outside-frame-width);
    height: var(--outside-frame-height);
  }

  &__top {
    clip-path: polygon(0 0, 100% 0, calc(100% - 48px) 48px, 48px 48px);
  }

  &__left {
    clip-path: polygon(0 0, 100% 48px, 100% 100%, 0 100%);
  }

  &__right {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 48px);
  }

  &__top,
  &__left,
  &__right {
    background-repeat: round;
    background-size: revert;
    background-image: url('/H_Q_8290.png');
  }

  &__inside {
  }
}

//@inside
.frame-inside {
  & {
    width: var(--inside-frame-width);
    height: var(--inside-frame-height);
    transform-origin: center center;
    transform: scale(var(--frame-scale));
  }

  &__top,
  &__left,
  &__right,
  &__bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: round;
    background-size: revert;
    background-image: url('/H_Q_8569.png');
  }

  &__left,
  &__right {
    width: var(--inside-frame-height);
    height: var(--inside-frame-profile-width);
    transform-origin: 0 0;
  }

  &__top,
  &__bottom {
    width: var(--inside-frame-width);
    height: var(--inside-frame-profile-width);
  }

  &__top {
    top: 0;
    clip-path: polygon(
      calc(var(--inside-frame-profile-width) - var(--inside-frame-tool-width)) 0,
      calc(
          100% -
            (var(--inside-frame-profile-width) - var(--inside-frame-tool-width))
        )
        0,
      calc(
          100% -
            (var(--inside-frame-profile-width) - var(--inside-frame-tool-width))
        )
        calc(var(--inside-frame-profile-width) - var(--inside-frame-tool-width)),
      calc(100% - var(--inside-frame-profile-width)) 100%,
      var(--inside-frame-profile-width) 100%,
      calc(var(--inside-frame-profile-width) - var(--inside-frame-tool-width))
        calc(100% - var(--inside-frame-tool-width))
    );
  }

  &__left {
    left: 0;
    transform: translate(0, var(--inside-frame-height)) rotateZ(-90deg);
  }

  &__right {
    right: 0;
    transform: translate(var(--inside-frame-profile-width, 0)) rotateZ(90deg);
  }

  &__bottom {
    bottom: 0;
    clip-path: polygon(
      calc(var(--profile-width) - var(--profile-tool-width)) 100%,
      calc(100% - (var(--profile-width) - var(--profile-tool-width))) 100%,
      calc(100% - (var(--profile-width) - var(--profile-tool-width)))
        calc(100% - (var(--profile-width) - var(--profile-tool-width))),
      calc(100% - var(--profile-width)) 0,
      var(--profile-width) 0,
      calc(var(--profile-width) - var(--profile-tool-width))
        var(--profile-tool-width)
    );
  }

  &__middle {
    position: absolute;
    top: var(--inside-frame-profile-width);
    left: var(--inside-frame-profile-width);
    width: calc(100% - (var(--inside-frame-profile-width) * 2));
    height: calc(100% - (var(--inside-frame-profile-width) * 2));
    background-image: url('/H_Q_8290.png');
    background-size: 100% 100%;
  }
}
