.container {
  padding: 16px;
}

.template {
  & {
    display: grid;
    grid-template-rows: 48px 1fr;
    grid-template-columns: 1fr 48px;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__dimension {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &--top {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      flex-direction: row;
    }

    &--right {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      flex-direction: column;
    }
  }

  &__door {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.dimension {
  &_top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    place-content: center;
    place-items: center;

    &__marker {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      place-content: center;
      place-items: center;

      &:first-of-type {
        margin-right: -30px;
      }

      &:last-of-type {
        margin-left: -30px;
      }
    }

    &__line {
      width: calc(100% - 40px);
      height: 4px;
      place-self: center;
      background: black;
    }
  }

  &_right {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    place-content: center;
    place-items: center;

    &__marker {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      place-content: center;
      place-items: center;

      &:first-of-type {
        margin-bottom: -30px;
      }

      &:last-of-type {
        margin-top: -32px;
      }
    }

    &__line {
      width: 4px;
      height: calc(100% - 35px);
      place-self: center;
      background: black;
    }
  }
}

.line {
  position: relative;

  &__input {
    position: absolute;
    width: 200px;
    height: 32px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px 8px;
  }

  &--top &__input {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--right &__input {
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: rotateZ(-90deg) translate(-50%, -50%);
  }
}
