.profile-side {
  & {
    position: absolute;
    z-index: 10;

    &__image {
      width: 100%;
      height: var(--profile-side-size);
      background-repeat: round;
      background-size: revert;
      // background-image: var(--profile-image-source);
      background-image: var(--profile-side-image-source);
    }
  }

  &--rotate-90,
  &--rotate-270 {
    width: calc(var(--profile-side-size) + var(--profile-side-tool-width));
    height: 100%;
    z-index: 8;
  }

  &--rotate-0,
  &--rotate-180 {
    height: calc(var(--profile-side-size) + var(--profile-side-tool-width));
    width: 100%;
    z-index: 10;
  }

  &--rotate-270 &__image {
    transform: rotateZ(90deg) translate(0, -100%);
    transform-origin: 0 0;
  }

  &--rotate-90 &__image {
    transform: rotateZ(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
  }

  &--rotate-0 &__image {
    transform: rotateZ(0deg);
    transform-origin: center;

    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--profile-side-tool-width)),
      calc(100% - var(--profile-side-tool-width)) 100%,
      var(--profile-side-tool-width) 100%,
      0 calc(100% - var(--profile-side-tool-width))
    );
  }

  &--rotate-180 &__image {
    transform: rotateZ(180deg);
    transform-origin: center center;

    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--profile-side-tool-width)),
      calc(100% - var(--profile-side-tool-width)) 100%,
      var(--profile-side-tool-width) 100%,
      0 calc(100% - var(--profile-side-tool-width))
    );
  }
}
