.profile-separator {
  & {
    --profile-separator-position: 0;

    z-index: 12;
    position: absolute;
    width: 100%;
    height: calc(
      var(--profile-separator-size) + (2 * var(--profile-separator-tool-width))
    );

    clip-path: polygon(
      var(--profile-separator-tool-width) 0,
      calc(100% - var(--profile-separator-tool-width)) 0,
      100% var(--profile-separator-tool-width),
      100% calc(100% - var(--profile-separator-tool-width)),
      calc(100% - var(--profile-separator-tool-width)) 100%,
      var(--profile-separator-tool-width) 100%,
      0 calc(100% - var(--profile-separator-tool-width)),
      0 var(--profile-separator-tool-width)
    );

    background-repeat: round;
    background-size: revert;
    // background-image: var(--profile-image-source);
    background-image: var(--profile-separator-image-source);
  }

  &--vertical {
    // TODO : copy from top property
    left: var(--profile-separator-position);
    width: 100%;
    transform: translate(0, -100%) rotateZ(90deg);
    transform-origin: 0 100%;
  }

  &--horizontal {
    top: calc(
      var(--profile-separator-position) -
        (
          (
              var(--profile-separator-size) +
                (2 * var(--profile-separator-tool-width))
            ) / 2
        )
    );
    transform: rotateZ(0deg);
    transform-origin: center;
  }
}
