.profile-separator {
  & {
    --position-top: initial;
    --position-right: initial;
    --position-bottom: initial;
    --position-left: initial;
  }

  & {
    position: absolute;
    top: var(--position-top);
    right: var(--position-right);
    bottom: var(--position-bottom);
    left: var(--position-left);
    z-index: 12;
  }

  & {
    width: 100%;
    height: calc(
      var(--profile-separator-size) + (2 * var(--profile-separator-tool-width))
    );
  }

  & {
    clip-path: polygon(
      var(--profile-separator-tool-width) 0,
      calc(100% - var(--profile-separator-tool-width)) 0,
      100% var(--profile-separator-tool-width),
      100% calc(100% - var(--profile-separator-tool-width)),
      calc(100% - var(--profile-separator-tool-width)) 100%,
      var(--profile-separator-tool-width) 100%,
      0 calc(100% - var(--profile-separator-tool-width)),
      0 var(--profile-separator-tool-width)
    );

    background-repeat: round;
    background-size: revert;
    // background-image: var(--profile-image-source);
    background-image: var(--profile-separator-image-source);
  }

  &--vertical {
    left: calc(var(--position-left) - var(--profile-tool-width));
    width: 100%;
    transform: translate(0, -100%) rotateZ(90deg);
    transform-origin: 0 100%;
  }

  &--horizontal {
    top: calc(var(--position-top) - var(--profile-tool-width));
    transform: rotateZ(0deg);
    transform-origin: center;
  }
}
